<div class="setup-container">
  <h2>Расставьте корабли</h2>

  <div class="ships">
    <span *ngFor="let ship of ships"
          [class.placed]="ship.placed"
          (click)="selectShip(ship)">
      {{ ship.size }}‑палубный
    </span>
  </div>

  <div class="grid">
    <div *ngFor="let row of grid; let i = index" class="row">
      <div *ngFor="let cell of row; let j = index"
           class="cell"
           [class.ship]="cell === 1"
           [class.hover]="isHoverCell(i,j) && isHoverValid(i,j)"
           [class.invalid]="isHoverCell(i,j) && !isHoverValid(i,j)"
           (click)="onCellClick(i,j,$event)"
           (mousemove)="onMouseMove($event,i,j)"
           (contextmenu)="onRightClick($event)">
      </div>
    </div>
  </div>

  <div class="buttons">
    <button (click)="autoPlaceShips()">Случайная расстановка</button>
    <button [disabled]="!allShipsPlaced" (click)="ready()">Готов</button>
  </div>
</div>
