HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Node / Angular
node_modules/
dist/
.angular/
package-lock.json
npm-debug.log
yarn-error.log

# IDE / Editor
.vscode/
.idea/
*.iml
.idea
*.iws
*.ipr

# Logs
logs/
*.log

# Spring / Java
target/
*.class
*.jar
*.war

# OS temporary files
.DS_Store
Thumbs.db

