HELP.md

node_modules/
frontend/.angular/cache/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

npm-debug.log
yarn-error.log

# IDE / Editor
.vscode/
.idea/
*.iml
.idea
*.iws
*.ipr

# Logs
logs/
*.log

# Spring / Java
target/
*.class
*.jar
*.war

# OS temporary files
.DS_Store
Thumbs.db

# Не игнорировать исходники фронтенда
!frontend/src/
!frontend/angular.json
!frontend/package.json
!frontend/tsconfig.json