.game-container {
  max-width: 400px;
  margin: 0 auto;
}

.grid {
  display: inline-block;

  .row {
    display: flex;

    .cell {
      width: 30px;
      height: 30px;
      border: 1px solid #333;
      display: inline-block;

      &.empty { background-color: #e0e0e0; }
      &.ship { background-color: #555; }
    }
  }
}
