.grid {
  display: inline-block;
}

.row {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  background-color: lightblue; /* временно для проверки */
}

.cell.ship {
  background-color: darkblue;
}
